In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("salaries_by_college_major.csv")

In [4]:
df.head() # return the first five rows of the DB

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [5]:
df.shape # Gives you the number of rows and columns respectively

(51, 6)

In [6]:
df.columns # shows the columns in the DB

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [7]:
df.isna() # literally: Is Not a Number (NaN)

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False
30,False,False,False,False,False,False
31,False,False,False,False,False,False
32,False,False,False,False,False,False
33,False,False,False,False,False,False
34,False,False,False,False,False,False
35,False,False,False,False,False,False
36,False,False,False,False,False,False
37,False,False,False,False,False,False
38,False,False,False,False,False,False
39,False,False,False,False,False,False
40,False,False,False,False,False,False
41,False,False,False,False,False,False
42,False,False,False,False,False,False
43,False,False,False,False,False,False
44,False,False,False,False,False,False
45,False,False,False,False,False,False
46,False,False,False,False,False,False
47,False,False,False,False,False,False
48,False,False,False,False,False,False
49,False,False,False,False,False,False
50,False,True,True,True,True,True

In [8]:
df.tail() # returns the last 5 rows of the DB

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [9]:
clean_df = df.dropna() # create a new DataFrame droppig down what is not a number

In [10]:
clean_df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

In [11]:
clean_df["Starting Median Salary"].max() # return the highest value for the column requested

74300.0

In [12]:
clean_df["Starting Median Salary"].idxmax() # return the row index of the highest value for the column requested

43

In [13]:
clean_df.loc[43] # literally "located"

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

In [14]:
clean_df["Undergraduate Major"].loc[43]

'Physician Assistant'

In [15]:
clean_df["Undergraduate Major"][43]

'Physician Assistant'

In [16]:
clean_df["Mid-Career 10th Percentile Salary"][43]

66400.0

In [17]:
clean_df["Starting Median Salary"].min()

34000.0

In [18]:
clean_df["Starting Median Salary"].idxmin()

49

In [19]:
clean_df.loc[49]

Undergraduate Major                  Spanish
Starting Median Salary               34000.0
Mid-Career Median Salary             53100.0
Mid-Career 10th Percentile Salary    31000.0
Mid-Career 90th Percentile Salary    96400.0
Group                                   HASS
Name: 49, dtype: object

In [20]:
clean_df.loc[clean_df["Mid-Career Median Salary"].idxmin()] # example of nested code

Undergraduate Major                  Education
Starting Median Salary                 34900.0
Mid-Career Median Salary               52000.0
Mid-Career 10th Percentile Salary      29300.0
Mid-Career 90th Percentile Salary     102000.0
Group                                     HASS
Name: 18, dtype: object

In [21]:
spread_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']

In [22]:
clean_df.insert(1, 'Spread', spread_col) # add a column at position 1 called Spread from the variable spread_col

In [23]:
clean_df.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business

In [24]:
low_risk = clean_df.sort_values('Spread')
low_risk[['Undergraduate Major', 'Spread']].head()

           Undergraduate Major   Spread
40                     Nursing  50700.0
43         Physician Assistant  57600.0
41                   Nutrition  65300.0
49                     Spanish  65400.0
27  Health Care Administration  66400.0

In [25]:
highest_value_degree = clean_df.sort_values("Mid-Career 90th Percentile Salary", ascending=False)
highest_value_degree[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

In [26]:
highest_spread = clean_df.sort_values("Mid-Career Median Salary", ascending=False)
highest_spread[["Undergraduate Major", "Mid-Career Median Salary"]].head()

       Undergraduate Major  Mid-Career Median Salary
8     Chemical Engineering                  107000.0
12    Computer Engineering                  105000.0
19  Electrical Engineering                  103000.0
1    Aerospace Engineering                  101000.0
17               Economics                   98600.0

In [27]:
clean_df.groupby("Group").count()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,,
Business,12,12,12,12,12,12
HASS,22,22,22,22,22,22
STEM,16,16,16,16,16,16

In [28]:
pd.options.display.float_format = '{:,.2f}'.format # format the output to 2 decimal places
clean_df.groupby("Group").mean() # returns the median value for each column

C:\Users\andre\AppData\Local\Temp\ipykernel_11344\2275917277.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  clean_df.groupby("Group").mean() # returns the median value for each column

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,"103,958.33","44,633.33","75,083.33","43,566.67","147,525.00"
HASS,"95,218.18","37,186.36","62,968.18","34,145.45","129,363.64"
STEM,"101,600.00","53,862.50","90,812.50","56,025.00","157,625.00"

In [29]:
# Main dataframe to collect all data
table_from_html = pd.read_html("https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors")
df = table_from_html[0].copy()
df.columns = ["Rank", "Major", "Type", "EarlyCareerPay", "MidCareerPay", "HighMeaning"]
 
# Add tables from other pages to main dataframe
for page_no in range(2, 35):
    table_from_html = pd.read_html(f"https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors/page/{page_no}")
    page_df = table_from_html[0].copy()
    page_df.columns = ["Rank", "Major", "Type", "EarlyCareerPay", "MidCareerPay", "HighMeaning"]
    df = df.append(page_df, ignore_index=True)
 
# Select necessary columns only
df = df[["Major", "EarlyCareerPay", "MidCareerPay"]]
 
# Clean columns
df.replace({"^Major:": "", "^Early Career Pay:\$": "", "^Mid-Career Pay:\$": "", ",": ""}, regex=True, inplace=True)
 
# Change datatype of numeric columns
df[["EarlyCareerPay", "MidCareerPay"]] = df[["EarlyCareerPay", "MidCareerPay"]].apply(pd.to_numeric)

C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_11344\3419157019.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(page_df, ignore_index=True)

In [31]:
print(df.tail())

                         Major  EarlyCareerPay  MidCareerPay
822          Outdoor Education           37400         46300
823  Early Childhood Education           36100         45400
824              Mental Health           36900         45000
825          Medical Assisting           36000         44800
826              Metalsmithing           40000         40300

In [33]:
import requests
from bs4 import BeautifulSoup

major_list = []
early_pay = []
mid_pay = []

for current_page in range(1, 35):
    response = requests.get(
        f"https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors/page/{current_page}"
    ).text
    soup = BeautifulSoup(response, "html.parser")

    rows = soup.find_all(name="tr", class_="data-table__row")
    for row in rows:
        major = row.find(name="td", class_="csr-col--school-name")
        major_list.append(major.getText().split("Major:")[1])
        early_career_pay = row.find(name="td", class_="csr-col--right")
        early_pay.append(int(early_career_pay.getText().split("Early Career Pay:$")[1].replace(",", "")))
        mid_career_pay = early_career_pay.next_sibling()[1].getText()
        mid_pay.append(int(mid_career_pay.split("$")[1].replace(",", "")))

records = []

for n in range(len(major_list)):
    record = {
        "Undergraduate Major": major_list[n],
        "Starting Median Salary": early_pay[n],
        "Mid-Career Median Salary": mid_pay[n],
    }
    records.append(record)
df = pd.DataFrame(records)
# pd.DataFrame.to_csv(df, "majors_that_pay_you_back.csv")
df.shape

(827, 3)

In [39]:
highest_spread = df.sort_values("Mid-Career Median Salary", ascending=False)
highest_spread[["Undergraduate Major", "Mid-Career Median Salary"]].head()

                                Undergraduate Major  Mid-Career Median Salary
0                             Petroleum Engineering                    187300
1      Operations Research & Industrial Engineering                    170400
2  Electrical Engineering & Computer Science (EECS)                    159300
3                                Interaction Design                    155800
4                                 Public Accounting                    147700